modules = ["python-3.12", "web", "nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Development Setup"

[[workflows.workflow]]
name = "Start React Frontend"
author = 45705999
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd folder1"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Development Setup"
author = 45705999
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd folder1 && npm start"
